/*
---------------------------------------------
Varables
---------------------------------------------
*/
:root {
  --main-hue: 240;
  --main-color: hsl(var(--main-hue, 240), 80%, 65%);
  --main-color-alt: hsla(var(--main-hue, 240), 80%, 65%, 0.2);
  --text-color: hsl(0, 0%, 25%);
  --text-color-alt: hsla(0, 0%, 25%, 0.5);
  --hover-color: hsl(var(--main-hue), 40%, 40%);
  --main-bg: linear-gradient(
    90deg,
    hsl(205, 35%, 95%) 0%,
    hsl(0, 0%, 100%) 100%
  );
  --main-duration: 0.5s;
  --header-height: 10vh;
  --main-padding: 50px;
}
@media (max-width: 991px) {
  :root {
    --header-height: 15vh;
  }
}
/*
---------------------------------------------
Globel Rule
--------------------------------------------- 
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*::selection {
  color: hsl(0, 0%, 100%);
  background-color: var(--main-color, hsl(var(--main-hue, 240), 80%, 65%));
}
body {
  background: var(
    --main-bg,
    linear-gradient(90deg, hsl(204, 36%, 95%) 0%, hsl(0, 0%, 100%) 100%)
  );
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}
body::after {
  content: url(../images/bubble.svg);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -100;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* The Small Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* The Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* The Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* The X-Large Screens */
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
header .container {
  height: var(--header-height, 5rem);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991px) {
  header .container {
    justify-content: center;
  }
}
header .container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container .logo .icon {
  background: var(--main-color, hsl(var(--main-hue, 240), 80%, 65%));
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 15px;
}
header .container .logo .text {
  color: var(--text-color, hsl(0, 0%, 25%));
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  position: relative;
}
header .container .logo .text::after {
  content: attr(data-text);
  color: var(--main-color, hsl(var(--main-hue, 240), 80%, 65%));
  overflow: hidden;
  transition: width var(--main-duration, 0.5s);
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
header .container .logo:hover .text::after {
  width: 100%;
}
header .container nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
header .container nav ul li:not(:first-child) {
  margin-left: 30px;
}
@media (max-width: 991px) {
  header .container nav ul li:not(:first-child) {
    margin-left: 15px;
  }
}
header .container nav ul li a {
  color: var(--text-color, hsl(0, 0%, 25%));
  font-size: 18px;
  line-height: 27px;
  display: inline-block;
  position: relative;
}
@media (max-width: 991px) {
  header .container nav ul li a {
    font-size: 16px;
  }
}
header .container nav ul li a:after {
  content: "";
  background: var(--main-color, hsl(var(--main-hue, 240), 80%, 65%));
  border-radius: 10px;
  transition: transform var(--main-duration, 0.5s) ease-out,
    transform-origin var(--main-duration, 0.5s) ease-out;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
}
header .container nav ul li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
main .container {
  height: calc(100vh - var(--header-height, 5rem));
  padding-top: var(--main-padding, 40px);
  padding-bottom: var(--main-padding, 40px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .container > * {
  flex: 1;
}
@media (max-width: 991px) {
  main .container {
    flex-direction: column;
    justify-content: flex-start;
  }
}
@media (max-width: 991px) {
  main .container article {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
main .container article h1 {
  color: var(--text-color, hsl(0, 0%, 25%));
  font-size: 2.9rem;
  font-weight: 600;
  margin-bottom: var(--main-margin, 20px);
}
@media (max-width: 767px) {
  main .container article h1 {
    font-size: 1.8rem;
  }
}
main .container article p {
  color: var(--text-color-alt, hsla(0, 0%, 25%, 0.5));
  font-size: 1.1rem;
  line-height: 30px;
  max-width: 500px;
  margin-bottom: var(--main-margin, 20px);
}
main .container article a {
  color: hsl(0, 0%, 100%);
  background: var(--main-color, hsl(var(--main-hue, 240), 80%, 65%));
  border-radius: 10px;
  filter: drop-shadow(
    0px 20px 40px
      var(--main-color-alt, hsla(var(--main-hue, 240), 80%, 65%, 0.2))
  );
  transition: var(--main-duration, 0.5s);
  font-size: 1.1rem;
  line-height: 36px;
  padding: 10px 30px;
}
main .container article a:hover {
  background: var(--hover-color, hsl(var(--main-hue), 40%, 40%));
}
main .container .image-box {
  width: 100%;
  max-width: 600px;
}
@media (max-width: 991px) {
  main .container .image-box {
    width: 90vw;
  }
}
